<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Down - Game Search Engine</title>
</head>
<body>
    <button id="dark-mode-toggle">🌙</button>
    <div class="container">
        <h1>Down</h1>
        <p>fast - efficient - adless</p>
        <form method="POST" action="/">
            <input type="text" name="search_query" class="search-bar" placeholder="Search for games..." value="{{ search_query }}">
        </form>
        {% if games %}
            <div class="game-container">
                {% for game in games %}
                <a href="/game/{{ game.idx }}">
                    <div class="game-item">
                        <img src="{{ game.preview }}" alt="{{ game.name }}" class="game-preview">
                        <h3>{{ game.name }}</h3>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% elif search_query %}
            <p>No games found. Please try another search.</p>
        {% endif %}
    </div>
    <footer>
        <div class="footer-content">
            <span>For any inquiries: @0xBasmoussent</span>
            <img src="../static/disc.svg" alt="Discord logo">
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('dark-mode-toggle');
            const currentTheme = localStorage.getItem('theme');
            
            if (currentTheme === 'dark') {
                document.body.classList.add('dark-mode');
            }
            toggleButton.addEventListener('click', () => {
                document.body.classList.toggle('dark-mode');
                const theme = document.body.classList.contains('dark-mode') ? 'dark' : 'light';
                localStorage.setItem('theme', theme);
            });
        });
    </script>
</body>
</html>